.main__details {
  display: flex;
  height: 20.5vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 500px) {
  .main__details {
    display: inline;
  }
}
