.details__item {
  display: flex;
  flex-direction: column;
}

.details__description {
  display: block;
}

.details__value {
  display: block;
}

@media (max-width: 500px) {
  .details__item {
    flex-direction: row;
  }

  .details__description {
    margin-right: 5px;
    color: crimson;
  }

  .details__description::after {
    content: ':';
  }
}
